/* Dark blurred backdrop */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: hidden;
}

/* Modal card */
.modal-content {
  width: 90%;
  max-width: 400px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  padding: 40px;
  text-align: center;
  animation: fadeIn 0.5s ease-out;
  max-height: 90vh;
  overflow-y: auto;

  /* Hide scrollbars but still allow scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.modal-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.logo-image {
  width: 150px;
  border-radius: 10px;
  background-color: black;
}

.auth-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-btn {
  background-color: #df312b;
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.login-btn:hover {
  background-color: #c42b25;
}

.auth-link a {
  color: #df312b;
  font-weight: bold;
  text-decoration: none;
}
.auth-link a:hover {
  text-decoration: underline;
}
.close-btn1 {
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-40px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
