.nav-container {
  width: 95%;
  background-color: var(--black-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.nav-image-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-items {
  align-self: center;
  color: var(--white-color);
}
.login-button {
  align-self: center;
  background-color: #df302c;
  border: 0;
  color: var(--white-color);
}
.logo-image {
  width: 250px;
}
.nav-icon {
  color: var(--white-color);
  display: none;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: var(--white-color);
  padding: 1rem;
  position: relative;
}

.toggle-btn {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--white-color);
  cursor: pointer;
}

/* Overlay Menu */
.overlay-menu {
  position: fixed;
  top: 0;
  right: -100%; /* Hidden by default */
  width: 250px;
  height: 100%;
  background-color: var(--black-color);
  color: var(--white-color);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding-top: 2rem;
}

.overlay-menu.open {
  right: 0;
}

.overlay-menu .close-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--white-color);
  cursor: pointer;
}

.overlay-menu ul {
  list-style: none;
  padding: 2rem;
}

.overlay-menu ul li {
  margin: 1rem 0;
}

.overlay-menu ul li a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1149px) {
  .mobile-view {
    display: none !important;
  }
  .nav-icon {
    color: var(--white-color);
    display: block;
  }
}
@media only screen and (max-width: 513px) {
  .logo-image {
    width: 200px;
  }
}
